
.stylish-select ul.newList {left:-9999px; margin:0 !important;}

/*
* Red example
---------------------------------------------------------*/

ul.newList * {margin:0 !important; padding:0;}
div.form ul.newList  li,div.form ul.newList li { margin-bottom:0; }
ul.newList a {color: #000; text-decoration:none; display:block; border:0; }
.newListSelected span {width:284px; display:block;}

ul.newList {margin:0; padding:4px 0px; list-style:none; position:absolute; border:0; overflow:auto; z-index:9999; background:#fff;}
div.post div.form ul.newList li { float:none; margin-bottom:0px; font-size:110%; }
ul.newList li a {padding:0px 9px; display: block; font-size:14px; color:#bec3c6; line-height:26px;  font-family: 'Gotham-Book';}
ul.newList li a:focus {-moz-outline-style: none;}
ul.newList li a:hover { text-decoration:none;}

.selectedTxt { overflow:hidden; font-weight:normal; }

.hiLite {background:#cccccc!important; color:#828282!important;}
.hiLite a {background:#650101!important; color:#828282!important;}

.newListHover {background:#77aee3!important; color:#e9fdff!important; cursor:default;}
.newListOptionTitle {font-weight:bold;}
.newListOptionTitle ul {margin:3px 0 0;}
.newListOptionTitle li {font-weight:normal; }

.newListSelected { width:230px; color:#2973a4; height:32px; cursor:pointer; padding:0 0 0 12px; background:url(../images/selectbox.jpg) no-repeat 0 0 ; margin-bottom:19px; }
.selectedTxt {width:226px; height:23px; padding:9px 4px 0 0; color:#bec3c6; font-size:14px; font-family: 'Gotham-Book'; }
ul.newList { color:#653d15; width:215px; top:32px !important; left:13px !important; padding:0;  margin:0 !important; background:url(../images/select-bottom.jpg) no-repeat left bottom ; }
ul.newList li { float:none; padding:0 !important;  margin:0 !important; background:url(../images/select-bg.jpg) repeat-y top left ; }

.stylish-form .newListSelected { width:422px; padding:0; color:#2973a4; height:45px; cursor:pointer; background:url(../images/selectbox2.gif) no-repeat 0 0 ; margin-bottom:0px; }
.stylish-form .selectedTxt {width:358px; height:23px; padding:15px 42px 7px 22px; color:#757070; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-style:italic; }
.stylish-form ul.newList { color:#757070; top:45px !important; left:0 !important; padding:0;  margin:0 !important; background:#f2f6f9; width:420px; border:1px solid #e0dbdb; border-top:0; }
.stylish-form ul.newList li { float:none; padding:0 !important;  margin:0 !important; background:none ; }
.stylish-form ul.newList li a { padding-left:22px !important; font-family:Arial, Helvetica, sans-serif; font-style:italic; color:#757070; }
.stylish-form .hiLite { background:#F2F6F9 !important; }

.stylish-form .newListHover { color:#757070 !important; background:#F2F6F9 !important; } 